# This Notebook is for EDA and Clean-up of the provided data set for the Machine Learning course

## Set Up

In [42]:
import pandas as pd
import numpy as np
import os

In [43]:
# Get Main Data
path = os.getcwd()
path = path +'\\medical_data\\'
file = 'data.csv'

mainData = pd.read_csv(path+file)
mainData.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide.metformin,glipizide.metformin,glimepiride.pioglitazone,metformin.rosiglitazone,metformin.pioglitazone,change,diabetesMed,readmitted
0,24437208,135,Caucasian,Female,[50-60),NaN,2,1,1,8,...,No,Steady,No,No,No,No,No,Ch,Yes,<30
1,29758806,378,Caucasian,Female,[50-60),NaN,3,1,1,2,...,No,No,No,No,No,No,No,No,No,NO
2,189899286,729,Caucasian,Female,[80-90),NaN,1,3,7,4,...,No,No,No,No,No,No,No,No,Yes,NO
3,64331490,774,Caucasian,Female,[80-90),NaN,1,1,7,3,...,No,No,No,No,No,No,No,Ch,Yes,NO
4,14824206,927,AfricanAmerican,Female,[30-40),NaN,1,1,7,5,...,No,No,No,No,No,No,No,No,Yes,NO

In [44]:
# Get Admission Type Look-Up
file = 'id_lookup.csv'
admissionTypeLookUp = pd.read_csv(path+file)
admissionTypeLookUp = admissionTypeLookUp.iloc[:8]
admissionTypeLookUp['admission_type_id'] = admissionTypeLookUp['admission_type_id'].astype(int)
admissionTypeLookUp

   admission_type_id    description
0                  1      Emergency
1                  2         Urgent
2                  3       Elective
3                  4        Newborn
4                  5  Not Available
5                  6            NaN
6                  7  Trauma Center
7                  8     Not Mapped

## EDA

In [45]:
# Data Shape
mainData.shape

(71518, 50)

In [46]:
# Check Nulls
print("Count Of Nulls:")
mainData.isna().sum()

Count Of Nulls:

encounter_id                    0
patient_nbr                     0
race                         1948
gender                          0
age                             0
weight                      68665
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                  31043
medical_specialty           34477
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                         11
diag_2                        294
diag_3                       1225
number_diagnoses                0
max_glu_serum                   0
A1Cresult                       0
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide.metformin             0
glipizide.metformin             0
glimepiride.pioglitazone        0
metformin.rosiglitazone         0
metformin.pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [47]:
# Check data types
mainData.dtypes

encounter_id                 int64
patient_nbr                  int64
race                        object
gender                      object
age                         object
weight                      object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
payer_code                  object
medical_specialty           object
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide.metformin         object
glipizide.metformin         object
glimepiride.pioglitazone    object
metformin.rosiglitazone     object
metformin.pioglitazone      object
change                      object
diabetesMed                 object
readmitted                  object
dtype: object

In [48]:
mainData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71518 entries, 0 to 71517
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   encounter_id              71518 non-null  int64
 1   patient_nbr               71518 non-null  int64
 2   race                      69570 non-null  object
 3   gender                    71518 non-null  object
 4   age                       71518 non-null  object
 5   weight                    2853 non-null   object
 6   admission_type_id         71518 non-null  int64
 7   discharge_disposition_id  71518 non-null  int64
 8   admission_source_id       71518 non-null  int64
 9   time_in_hospital          71518 non-null  int64
 10  payer_code                40475 non-null  object
 11  medical_specialty         37041 non-null  object
 12  num_lab_procedures        71518 non-null  int64
 13  num_procedures            71518 non-null  int64
 14  num_medications           71518 non-null  int64
 15  number_outpatient         71518 non-null  int64
 16  number_emergency          71518 non-null  int64
 17  number_inpatient          71518 non-null  int64
 18  diag_1                    71507 non-null  object
 19  diag_2                    71224 non-null  object
 20  diag_3                    70293 non-null  object
 21  number_diagnoses          71518 non-null  int64
 22  max_glu_serum             71518 non-null  object
 23  A1Cresult                 71518 non-null  object
 24  metformin                 71518 non-null  object
 25  repaglinide               71518 non-null  object
 26  nateglinide               71518 non-null  object
 27  chlorpropamide            71518 non-null  object
 28  glimepiride               71518 non-null  object
 29  acetohexamide             71518 non-null  object
 30  glipizide                 71518 non-null  object
 31  glyburide                 71518 non-null  object
 32  tolbutamide               71518 non-null  object
 33  pioglitazone              71518 non-null  object
 34  rosiglitazone             71518 non-null  object
 35  acarbose                  71518 non-null  object
 36  miglitol                  71518 non-null  object
 37  troglitazone              71518 non-null  object
 38  tolazamide                71518 non-null  object
 39  examide                   71518 non-null  object
 40  citoglipton               71518 non-null  object
 41  insulin                   71518 non-null  object
 42  glyburide.metformin       71518 non-null  object
 43  glipizide.metformin       71518 non-null  object
 44  glimepiride.pioglitazone  71518 non-null  object
 45  metformin.rosiglitazone   71518 non-null  object
 46  metformin.pioglitazone    71518 non-null  object
 47  change                    71518 non-null  object
 48  diabetesMed               71518 non-null  object
 49  readmitted                71518 non-null  object
dtypes: int64(13), object(37)
memory usage: 27.3+ MB

In [49]:
# describe

mainData.describe(include='all')

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide.metformin,glipizide.metformin,glimepiride.pioglitazone,metformin.rosiglitazone,metformin.pioglitazone,change,diabetesMed,readmitted
count,7.151800e+04,7.151800e+04,69570,71518,71518,2853,71518.000000,71518.000000,71518.000000,71518.00000,...,71518,71518,71518,71518,71518,71518,71518,71518,71518,71518
unique,NaN,NaN,5,3,10,9,NaN,NaN,NaN,NaN,...,1,4,4,2,1,2,2,2,2,3
top,NaN,NaN,Caucasian,Female,[70-80),[75-100),NaN,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,Yes,NO
freq,NaN,NaN,53491,38025,18210,1195,NaN,NaN,NaN,NaN,...,71518,34921,71016,71511,71518,71516,71517,39494,54319,42985
mean,1.568156e+08,5.505160e+07,NaN,NaN,NaN,NaN,2.100254,3.593235,5.657457,4.28913,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.003769e+08,3.947573e+07,NaN,NaN,NaN,NaN,1.508301,5.269771,4.162580,2.94921,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.252200e+04,1.350000e+02,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,8.145807e+07,2.337577e+07,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,2.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.440574e+08,4.816680e+07,NaN,NaN,NaN,NaN,1.000000,1.000000,7.000000,3.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2.155513e+08,8.752222e+07,NaN,NaN,NaN,NaN,3.000000,3.000000,7.000000,6.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,4.438672e+08,1.895026e+08,NaN,NaN,NaN,NaN,8.000000,28.000000,25.000000,14.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Replace Look-Up Values With Literal Values

In [51]:
# Add Admission Type Values (Note: Did not drop ID)

# Add Column
mainData.insert(7,"admission_type_value", 0)

# Left Join
mainData = pd.merge(mainData,admissionTypeLookUp,on='admission_type_id')

# Replace Values
mainData['admission_type_value'] = mainData['description']
mainData = mainData.drop(columns=['description'])
mainData.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,admission_type_value,discharge_disposition_id,admission_source_id,...,citoglipton,insulin,glyburide.metformin,glipizide.metformin,glimepiride.pioglitazone,metformin.rosiglitazone,metformin.pioglitazone,change,diabetesMed,readmitted
0,24437208,135,Caucasian,Female,[50-60),NaN,2,Urgent,1,1,...,No,Steady,No,No,No,No,No,Ch,Yes,<30
1,60254142,1314,Caucasian,Female,[40-50),NaN,2,Urgent,1,1,...,No,Steady,No,No,No,No,No,No,Yes,>30
2,14897280,2025,Caucasian,Female,[70-80),NaN,2,Urgent,3,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
3,36469686,3069,Caucasian,Male,[60-70),NaN,2,Urgent,1,1,...,No,Steady,No,No,No,No,No,No,Yes,NO
4,20602470,8460,Caucasian,Male,[80-90),NaN,2,Urgent,1,1,...,No,No,No,No,No,No,No,No,Yes,NO